aiocometd==0.4.5
aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==20.3.0
bleach==3.3.0
cement==3.0.4
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
colorama==0.4.4
colorlog==4.8.0
coverage==5.5
cryptography==3.4.6
dataclasses==0.6
docutils==0.16
idna==2.10
importlib-metadata==3.7.3
iniconfig==1.1.1
jeepney==0.6.0
Jinja2==2.11.3
keyring==23.0.0
MarkupSafe==1.1.1
multidict==5.1.0
packaging==20.9
pkginfo==1.7.0
pluggy==0.13.1
py==1.10.0
pycparser==2.20
Pygments==2.8.1
pyparsing==2.4.7
pytest==6.2.2
pytest-cov==2.11.1
PyYAML==5.4.1
readme-renderer==29.0
requests==2.25.1
requests-toolbelt==0.9.1
rfc3986==1.4.0
SecretStorage==3.3.1
six==1.15.0
tastyworks==4
toml==0.10.2
tqdm==4.59.0
twine==3.4.1
typing-extensions==3.7.4.3
urllib3==1.26.4
webencodings==0.5.1
yarl==1.6.3
zipp==3.4.1
