[general]
# username = foo
# password = bar
# default-account = example

[portfolio]
bp-target-percent-vix-low = 15
bp-target-percent-vix-high = 55
bp-target-percent-variation = 5
portfolio-delta-target = 0
portfolio-delta-variation = 5
table-show-mark-price = false
table-show-trade-price = false
table-show-delta = false
table-show-theta = false
table-show-gamma = false

[order]
bp-warn-above-percent = 5

[option]
chain-show-delta = true
chain-show-volume = false
chain-show-open-interest = false
chain-show-theta = false
